<section id="contact">
<div class="container">
  <div class="row">
    <div class="col-md">
      <h2 class="text-center mt-5 service-title">Services</h2>
      <p>VS Design Solutions is a studio that offers consultancy for architectural design and services.
        Spanning across different fields and scales of design, the practice works on residential and commercial projects.
        Our studio has worked with highly experienced professionals and encourages talented young professionals
        from various sectors in the field of built environment.</p>
      <p>We provide architectural services on a wide range of projects:</p>
      <ul class="list-head">
        <li>Initial Surveys	</li>
        <li>3D modelling</li>
        <li>Site Visits</li>
        <li>Site-Management</li>
        <li>Pre-planning apps</li>
        <li>Tree/ bat surveys</li>
        <li>AutoCAD drafting of designs</li>
        <li>Listed building consent</li>
        <li>Lawful development certificates</li>
        <li>Building Control Submissions</li>
        <li>Development Feasibility studies</li>
        <li>Thames water applications</li>
        <li>Planning Application</li>
        <li>Prior Approval notifications</li>
        <li>Project viability assessment</li>
        <li>Design & Access Statement</li>
        <li>Flood Risk Assessment</li>
        <li>Project Management</li>
      </ul>
      <p class="text-muted custom">We have developed close working relationships with both structural engineering and building control companies, both with over 25 years’ experience. We can therefore provide a complete service to include all elements of design to streamline the design and construction process.</p>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-5">
      <%= render("contact_form") %>
    </div>
    <div class="col-md">
      <p>Alternatively, you may also directly email the company through this email address or call us if you so wish.</p>
      <div class="row">
        <div class="col-md mt-2">
          <h5 class="float-left big"><i class="fas fa-envelope"></i><%= mail_to "vs1designsolutions@gmail.com", " vs1designsolutions@gmail.com", class: "btn-custom" %></h5>
        </div>
      </div>
      <div class="row">
        <div class="col-md">
          <h5 class="float-left big"><i class="fas fa-phone"></i> <a class="btn-custom" href="tel:+(44) 7515-478-431">+(44) 7515-478-431</a></h5>
        </div>
      </div>
    </div>
  </div>
</div>
</section>