<section id=banner>
<div class="container">
<div class="row">
  <div class="col-md">
    <p class="promo-title">ARCHITECTURE AND DESIGN STUDIOS</p>
    <p class="promo-intro">At VS Design Solutions, we pride ourselves on being your local architecture firm, meaning that we will always be honest,
      and upfront with you for all types of business. Headquartered in Slough, we have worked with Planning Departments of several local authorities and </p>
  </div>
</div>
</div>
</section>
