<section id=banner>
<div class="container">
<div class="row">
  <div class="col">
    <p class="promo-title">THE RIGHT ARCHITECTURE FIRM FOR YOU</p>
    <p class="promo-intro">At VS Design Solutions Limited, we pride ourselves on being your local architecture firm (headquartered in Slough), meaning that we will always be honest,
      and upfront with you for all types of business.</p>
  </div>
</div>
</div>
<%=image_tag("wave(1).svg", class: "image-bottom") %>
</section>
