<section id="services">
  <div class="container">
    <div class="text-center">
      <h2 class="cards-title">WHAT WE DO</h2>
    </div>
    <div class="row mt-4">
      <div class="col-md-4 g-4 services">
        <div class="card h-100">
          <div class="card-body">
            <h4 class="card-title">Extensions</h4>
            <p class="card-text">We aim to cater to all your housing development related needs. Part of this effort
              involves planning and creating drawings for extensions that are council approved. <br>
              We have a team of experienced CAD technicians ready to create your plans with a minimal delay.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 g-4 services">
        <div class="card h-100">
          <div class="card-body">
            <h4 class="card-title">Planning Proposals</h4>
            <p class="card-text">We strive to go the extra mile with our customers, and therefore also offer services to
              create planning proposals for housing developments and extensions that can be submitted to your local
              council.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 g-4 services">
        <div class="card h-100">
          <div class="card-body">
            <h4 class="card-title">Site Visits</h4>
            <p class="card-text">Part of the reason for our success is due to our personal relationship with our clients.
            We give you the ability to choose an appropriate date for a site visit because how you spend your valuable time with us matters.
            These visits allow us to gauge the level of planning and design that will be needed for the project, allowing us to find a cost-effective way of achieving your vision for the project.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center mt-3">
      <a href="#contact" class="btn btn-primary">View All Services</a>
    </div>
  </div>
</section>