/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */

@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
$font: 'Quicksand', sans-serif;

html {
  --scrollbarBG: #CFD8DC;
  --thumbBG: #000000;
}

body {
  font-family: $font;
  background: #f3f4f5;
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: #000000 #CFD8DC;

  &::-webkit-scrollbar {
    width: 7px;
    mix-blend-mode: difference;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG);
    border-radius: 1px;
    border: 1px transparent;
  }
}


#navbar {
  background-image:  linear-gradient(to right, rgba(0, 0, 0, 0.96), #000000);
  top: 0;
  z-index: 10;
  .path {
    color: #fff !important;
  }
}


.navbar {
  //background-image:  linear-gradient(to right, rgba(0, 0, 0, 0.96), #000000);
  //padding: 0 !important;
  justify-content: space-evenly;
}

.navbar-brand {
  transition: 0.4s ease-in-out;
  border: 1px white;
  color: #fff!important;
  font-size: 3rem;
  &:hover {
    border-bottom: 1px solid;
    transform: scale(1.05);
  }
}


.navbar-toggler {
  border: none !important;
  outline: none !important;
}

.navbar-nav {
  li {
    padding: 0 10px;

  }

  li a:before {
    content: "";
    position: absolute;
    z-index: -2;
    left: 0;
    right: 100%;
    bottom: 10%;
    background: #ffffff; /*** COLOR OF THE LINE ***/
    height: 3px; /*** THICKNESS OF THE LINE ***/

    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }

  li a:hover {
    opacity: 1 !important;
  }

  li a:hover:before {
    right: 0;
  }

  li li a:before {
    bottom: 10%;
  }
}


.navbar-nav li {
  padding: 0 10px;
}

.navbar-nav li a {
  color: #fff !important;
  transition: 0.4s ease-in-out;
  &:hover {
    //border-color: white;
    transform: scale(1.02);
  }
}

#banner {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.96), #000000);
  color: #fff;
  border: 1px transparent;
  padding-top: 1%;

  .image {
    filter: grayscale(0);
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    cursor: pointer;
  }

  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    width: 100%;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }

  .carousel-inner:hover .image {
    opacity: 0.3;
  }

  .carousel-inner:hover .middle {
    opacity: 0.7;
  }

  .text {
    background-color: #928d8d;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
    cursor: pointer;
  }

}

.promo-title {
  font-size: 3rem;
  font-weight: 500;
  margin-top: 2.2rem;
}

.promo-subtitle {
  font-size: 1.25rem;
}

.promo-intro {
  font-size: 1.15rem;
}

.image-bottom {
  max-width: 100%;
}

.cards-title {
  &:before{
    content: '';
    background: #08000a;
    height: 0.2rem;
    max-width: 10em;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(2.75rem);
  }

}

#services {
  //padding: 2rem;
  padding-top: 4rem;
  .btn-primary {
    box-shadow: none;
    padding: 8px 25px;
    border-radius: 20px;
    background-color: black;
    transition: 0.4s ease-in-out;
    border: 1px solid black;
    &:hover {
      color: black;
      background-color: white;
    }
  }

  .card {
    transition: 0.5s;
    &:hover {
      cursor: pointer;
      transform: scale(1.05);
    }
  }
}

.services {
  padding-inline: 2rem;
}

.services h4 {
  font-size: 2rem;
  text-transform: uppercase;
}

#about-us {
  padding-bottom: 4rem;
  padding-top: 4rem;

  .card {
    transition: 0.4s ease-in-out;
    &:hover {
      cursor: pointer;
      transform: scale(1.05);

    }

  }
}

.card-img-top {
  object-fit: cover;
}

.card {
  transition: 0.4s;
  &:hover {
    cursor: pointer;
    transform: scale(1.05);
    .image {
      transition: 0.5s;
      -webkit-filter: grayscale(0) !important;
      filter: grayscale(0) !important;
    }
  }
}

.image {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.modal-content {
  .image {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
  }
}

#portfolio {
  padding-top: 2rem;
  padding-bottom: 2rem;
  .card {
    transition: 0.4s ease-in-out;
    &:hover {
      transform: scale(1.05);
      cursor: pointer;
    }
  }

  path {
    color: black !important;
  }

  .text-subtitle {
    transform: translateY(1.2rem);
  }

  .text-shift-right {
    transform: translateX(5rem);
  }
}

.custom {
  font-size: 1em!important;
}

.btn-custom {
  color: white;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: 0.8s;
  &:hover{
    color: white;
    text-decoration: none;
    border-color: white;
    transform: scale(1.1);
  }
}

.carousel-border {
  border-radius: 5px;
  margin-bottom: 1rem;
}

.carousel-image {
  width: 100%;
  height: auto;
  max-height: 400px;
  object-fit: cover;
}

#contact {
  h4 {
    font-size: 1.5rem;
  }
  p {
    font-size: 1.15rem;
  }
  color: white;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.96), #000000);

  .footer-image {
    width: 100%;
  }
  .btn-primary {
    box-shadow: none;
    padding: 8px 25px;
    color: black;
    background-color: white;
    transition: 0.4s ease-in-out;
    border: 1px solid black;
    &:before {
      transform: translateY(2rem);
    }
    &:after {
      transform: translateY(0.2rem);
    }
  }

  .container {
    transform: translateY(-3rem);
  }
}




@media only screen and (max-width: 600px) {
  #portfolio {
    padding-top: 5rem;
  }

  .logo {
    display: none;
  }

  .navbar-brand {
    transition: 0.4s ease-in-out;
    border: 1px white;
    color: #fff!important;
    font-size: 1rem;
    &:hover {
      border-bottom: 1px solid;
      transform: scale(1.05);
    }
  }

  .promo-title {
    font-size: 1.25rem;
  }

  .promo-subtitle {
    font-size: 1.15rem;
  }

  .promo-intro {
    font-size: 1.05rem;
  }

  .list-head {
    height: auto !important;
  }
}

@media only screen and (max-width: 900px) {
  #portfolio {
    padding-top: 0.5rem;
    padding-bottom: 4rem;
  }
  .logo {
    display: none;
  }

  .logo {
    display: none;
  }

  #services {
    padding-top: 5rem;
  }

  #about-us {
    padding-top: 5rem;

  }

}

@media only screen and (max-width: 1024px) {
  .service-title {
    //margin-top: 1em;
    padding-top: 1rem!important;
  }

}

@media only screen and (max-width: 1200px) {
  #portfolio {
    padding-top: 5rem;
    padding-bottom: 2rem;
  }

  #services {
    padding-top: 5rem;
  }

  #about-us {
    padding-top: 5rem;

  }
}

@media only screen and (max-width: 2200px) {
  #portfolio {
    padding-top: 5rem;
    padding-bottom: 4rem;
  }

  .service-title {
    //margin-top: 1em;
    padding-top: 5rem;
  }

  .list-head {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 9em;
    text-transform: capitalize;
  }

  #services {
    padding-top: 5rem;
  }

  #about-us {
    padding-top: 5rem;

  }

}

.contact-form-text-area {
  color: black;
}
.hidden { display: none; }
.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
  font-size: .8em;
}

.alert-alert {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
  font-size: .8em;
}

.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: center;
  font-size: .8em;
}

.alert-notice {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
  font-size: .8em;
}